* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
  background-color: #f5f6f7;
}

h1 {
  max-width: 940px;
  font-size: 2.5em; /* em: es relativo si el contenedor tiene 10px este va a ser 2.5 veces este valor*/
  font-family: Consola, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 40px 0; /* margen superior/inferior 40px der/izq 0 */
}

.App {
  min-height: 100vh; /* se adapte a la altura del navegador el 100% de la pantalla verticalmente */
  display: flex; /* flex-box herramienta de css, para definir como se van a ubicar los distintos elementos dentro del contenedor*/
  flex-wrap: wrap; /* cuando decimos flex estamos usando flex-box, con wrap le decimos que el elemento va a tomar todo el ancho del contenedor los otros elementos van a ubicarse en la siguien lines/debajo*/
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-app-container {
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
